html{
  width: 100%;
  box-sizing: border-box;
  padding: 0em;
  margin: 0em;

  background-color: #bcbec0;

  font-family: sans-serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* Box model */
/* Visual decorations */
/* Typography */

body{
  margin: 0em;
  padding: 0em;
}

.top{
  display: inline;
  margin-top: 1em;
  padding: 0em;
}
  .top h1{
    padding: 0em;

    text-align: center;
    font-size: 1.25rem;
    color: #fff;
  }

  .top img{
    float: left;
    width: 10%;
  }

  .top p{
    float: right;
    padding: .25em;

    background-color: #939598;
  }

nav{
  margin: 0em;
  padding: 0em;
  width: 100%;
  clear: both;

  background-color: #939598;
}

  nav ol{
    width: 100%;
    padding: 0em;
    margin: 0em;

    list-style: none;
    background-color: #939598;
  }

  nav li{
    padding: .5em;
    width: calc(100% / 4);
    float: left;

    background-color: #939598;

    font-size: 1rem;
    text-align: center;
  }

  nav a{
    text-decoration: none;
    color: #fff;
  }

  nav li:hover{
    background-color: #6d6e71;
  }

.seven{
  position: relative;
}
  .seven img{
    width: 100%;
  }

  .seven h2{
    width: 100%;
    position: absolute;
    top: 60px;

    text-align: center;
    color: #fff;
  }

  .seven p{
    width: 100%;
    position: absolute;
    top: 100px;

    text-align: center;
    color: #fff;
  }

h2{
  text-align: center;
  margin: 0em;
}

h3{
  padding-left: 1em;
  margin: 0em;
}

.images img{
  width: 100%;
  padding: 1em;
  margin: 0em;
}

.list-item{
  width: calc(100% / 3);
  float: left;
}

dl{
  padding-left: 1em;
}

dt{
  font-weight: 600;
  font-size: 1rem;
}

dd{
  padding: 0em;
  margin: 0em;
  font-size: .75rem;
}

.button{
  padding: 0em;
  padding-bottom: 1em;
  padding-top: 1em;
}

  .button a{
    display: inline;
    margin-top: 1em;
    padding: .5em;
    width: 100%;
    float: left;
    text-align: center;
    clear: both;

    background-color: #939598;

    text-decoration: none;
    color: #fff;
  }

  .button a:hover{
    background-color: #6d6e71;
  }

.tickets{
  padding-bottom: 1em;
  padding-top: 1em;
  clear: both;

  background-color: #fff;
}

  .price{
    width: 100%;
  }

  .tickets a{
    display: inline;
    padding: .5em;
    width: 50%;
    float: left;
    text-align: center;

    background-color: #939598;

    text-decoration: none;
    color: #fff;
  }

  .tickets a:hover{
    background-color: #6d6e71;
  }

.member{
  padding-bottom: 1em;
  padding-top: 1em;
}

  .member a{
    display: inline;
    padding: .5em;
    width: 50%;
    float: left;
    text-align: center;

    background-color: #939598;

    text-decoration: none;
    color: #fff;
  }

  .member a:hover{
    background-color: #6d6e71;
  }

.mem{
  padding: .75em;
}

.atlantis{
  position: relative;
}

  .atlantis img{
    width: 100%;
    padding: 0em;
  }

  .atlantis h2{
    position: absolute;
    width: 100%;
    top: 60px;

    text-align: center;
    color: #fff;
  }

  .atlantis p{
    position: absolute;
    width: 100%;
    top: 100px;

    text-align: center;
    color: #fff;
  }

.times{
  padding: 0em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.times a{
  display: inline;
  padding: .5em;
  width: 100%;
  float: left;
  text-align: center;
  clear: both;

  background-color: #939598;

  text-decoration: none;
  color: #fff;
}

.times a:hover{
  background-color: #6d6e71;
}

ol{
  padding: 1em;
  margin: 0em;
}

ol li{
  list-style: none;
}

footer{
  background-color: #fff;
}

  footer p, address, a{
    padding-left: 1em;
  }

.foot-butts{
  padding: 0em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.foot-butts a{
  display: inline;
  padding: .5em;
  width: 100%;
  float: left;
  text-align: center;
  clear: both;

  background-color: #939598;

  text-decoration: none;
  color: #fff;
}

.foot-butts a:hover{
  background-color: #6d6e71;
}
