html{
  width: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

/* Box model */
/* Visual decorations */
/* Typography */

.top{
  display: inline;
  margin: 0em;
  padding: 0em;
}
  .top h1{
    margin: 0em;
    padding: 0em;
    text-align: center;
    font-size: 1.25rem;
    font-family: sans-serif;
  }

  .top img{
    float: left;
    width: 10%;
  }

  .top p{
    float: right;
    margin: 0em;
    padding: 0em;
  }
